.vscode/
.idea/
.DS_Store
__pycache__/

image_captioning/data/train2017/
image_captioning/data/val2017/
image_captioning/data/annotations_trainval2017.zip
image_captioning/data/train2017.zip
image_captioning/data/val2017.zip

image_captioning/data/annotations/
image_captioning/data/resized2014.zip
image_captioning/data/resized2014/
image_captioning/data/val2014/
image_captioning/data/resized2014.zip.bkup
image_captioning/data/resized2014_bkup/
image_captioning/data/train2014/
image_captioning/data/resized_val2014.zip
image_captioning/data/resized_val2014/

image_captioning/data/vocab.pkl

image_captioning/data/cifar-10-batches-py
image_captioning/data/cifar-10-python.tar.gz

data/*.zip

image_captioning/models/*.ckpt
image_captioning/models/*.pkl


# Images you don't want to share
sample_images/friends.png
sample_images/girl_with_cake.png